In [2]:
import pandas as pd
import numpy as np
import datetime
import pytz

In [3]:
file=r'D:\Programing\python_projects\data_analysis_basics\data_set\invoices.csv'
invoices=pd.read_csv(file)

In [4]:
invoices.head(5)

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469.0,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22.0,Dinner,False
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314.0,Lunch,False
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438.0,Dinner,False
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690.0,Lunch,False

In [5]:
invoices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50017 entries, 0 to 50016
Data columns (total 9 columns):
Order Id             50017 non-null object
Date                 50017 non-null object
Meal Id              50017 non-null object
Company Id           50017 non-null object
Date of Meal         50017 non-null object
Participants         50017 non-null object
Meal Price           50017 non-null float64
Type of Meal         50017 non-null object
Heroes Adjustment    50017 non-null bool
dtypes: bool(1), float64(1), object(7)
memory usage: 3.1+ MB

In [6]:
invoices['Type of Meal']=invoices['Type of Meal'].astype('category')

In [7]:
invoices['Date']=invoices['Date'].astype('datetime64[ns]')

In [8]:
invoices['Meal Price']=invoices['Meal Price'].astype('int')

In [9]:
invoices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50017 entries, 0 to 50016
Data columns (total 9 columns):
Order Id             50017 non-null object
Date                 50017 non-null datetime64[ns]
Meal Id              50017 non-null object
Company Id           50017 non-null object
Date of Meal         50017 non-null object
Participants         50017 non-null object
Meal Price           50017 non-null int32
Type of Meal         50017 non-null category
Heroes Adjustment    50017 non-null bool
dtypes: bool(1), category(1), datetime64[ns](1), int32(1), object(5)
memory usage: 2.6+ MB

In [10]:
invoices.loc[12345, 'Meal Price']='hello'

In [12]:
invoices['Meal Price'].astype('int')

ValueError: invalid literal for int() with base 10: 'hello'

In [13]:
invoices['Meal Price'].apply(lambda x: type(x)).value_counts()

<class 'int'>    50016
<class 'str'>        1
Name: Meal Price, dtype: int64

In [15]:
pd.to_numeric(invoices['Meal Price'], errors='ignore')

0        469
1         22
2        314
3        438
4        690
        ...
50012      9
50013     25
50014    160
50015    497
50016    365
Name: Meal Price, Length: 50017, dtype: object

In [16]:
invoices['Meal Price']=pd.to_numeric(invoices['Meal Price'], errors='coerce')

In [17]:
invoices.loc[12345]

Order Id                                              SJ3BBH2NXTGG787M
Date                                               2015-02-13 00:00:00
Meal Id                                               2NMCOP5D1L72U1DY
Company Id                                            FR2HKQ4OYXNW5NE6
Date of Meal                                 2015-02-16 07:00:00+01:00
Participants         ['Chris Crosson' 'Martin Smith' 'Derrick Fuller']
Meal Price                                                         NaN
Type of Meal                                                 Breakfast
Heroes Adjustment                                                False
Name: 12345, dtype: object

In [21]:
invoices['Meal Price']=invoices['Meal Price'].fillna(invoices['Meal Price'].median())

In [20]:
invoices['Meal Price'].median()

398.0

In [22]:
invoices.loc[12345]

Order Id                                              SJ3BBH2NXTGG787M
Date                                               2015-02-13 00:00:00
Meal Id                                               2NMCOP5D1L72U1DY
Company Id                                            FR2HKQ4OYXNW5NE6
Date of Meal                                 2015-02-16 07:00:00+01:00
Participants         ['Chris Crosson' 'Martin Smith' 'Derrick Fuller']
Meal Price                                                         398
Type of Meal                                                 Breakfast
Heroes Adjustment                                                False
Name: 12345, dtype: object

In [23]:
print(pd.to_datetime('2019-12-25'))

2019-12-25 00:00:00

In [25]:
print(pd.to_datetime('2019/9/18'))
print(pd.to_datetime('9/18/2019'))
print(pd.to_datetime('Sep, 18 2019'))
print(pd.to_datetime('September, 18 2019'))
print(pd.to_datetime('Sep - 18 2019'))
print(pd.to_datetime('2019, September -18'))
print(pd.to_datetime('20190918'))
print(pd.to_datetime('20191809', format='%Y%d%m'))

2019-09-18 00:00:00
2019-09-18 00:00:00
2019-09-18 00:00:00
2019-09-18 00:00:00
2019-09-18 00:00:00
2019-09-18 00:00:00
2019-09-18 00:00:00
2019-09-18 00:00:00

In [26]:
print(pd.to_datetime('yoyo 20191809', format='%Y%d%m', exact=False))

2019-09-18 00:00:00

In [27]:
invoices['Date of Meal']=pd.to_datetime(invoices['Date of Meal'], utc=True)

In [29]:
invoices.head(5)

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 05:00:00+00:00,['David Bishop'],469.0,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 18:00:00+00:00,['David Bishop'],22.0,Dinner,False
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 12:00:00+00:00,['Karen Stansell'],314.0,Lunch,False
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 19:00:00+00:00,['Addie Patino'],438.0,Dinner,False
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 12:00:00+00:00,['Addie Patino' 'Susan Guerrero'],690.0,Lunch,False

In [36]:
# 设定结果显示多少行
pd.set_option('display.max_rows', 8)

In [37]:
invoices['Date of Meal'].dt.date

0        2016-05-31
1        2018-10-01
2        2014-08-23
3        2014-04-07
            ...
50013    2018-03-18
50014    2017-09-22
50015    2018-02-01
50016    2017-09-09
Name: Date of Meal, Length: 50017, dtype: object

In [39]:
invoices['Date of Meal'].dt.month

0         5
1        10
2         8
3         4
         ..
50013     3
50014     9
50015     2
50016     9
Name: Date of Meal, Length: 50017, dtype: int64

In [41]:
invoices['Date of Meal'].dt.weekday_name

0         Tuesday
1          Monday
2        Saturday
3          Monday
           ...
50013      Sunday
50014      Friday
50015    Thursday
50016    Saturday
Name: Date of Meal, Length: 50017, dtype: object

In [42]:
invoices['Date of Meal'].dt.day

0        31
1         1
2        23
3         7
         ..
50013    18
50014    22
50015     1
50016     9
Name: Date of Meal, Length: 50017, dtype: int64

In [43]:
invoices['Date of Meal'].dt.quarter

0        2
1        4
2        3
3        2
        ..
50013    1
50014    3
50015    1
50016    3
Name: Date of Meal, Length: 50017, dtype: int64

In [44]:
invoices['Date of Meal'].dt.week

0        22
1        40
2        34
3        15
         ..
50013    11
50014    38
50015     5
50016    36
Name: Date of Meal, Length: 50017, dtype: int64

In [46]:
invoices[invoices['Date of Meal'].dt.is_month_end]

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 05:00:00+00:00,['David Bishop'],469.0,Breakfast,False
6,2DDN2LHS7G85GKPQ,2014-04-29,1MKLAKBOE3SP7YUL,LJKS5NK6788CYMUU,2014-04-30 19:00:00+00:00,['Susan Guerrero' 'David Bishop'],14.0,Dinner,False
127,IFWFCKR8TRAGCLSN,2015-09-03,KP72EIIXT3D2D3YX,TAW7IY2L2IKUCCGC,2015-08-31 18:00:00+00:00,['Tina Jones'],385.0,Dinner,False
199,R5RROQZEHSVU7JWT,2014-06-02,BAZRFTKXVH12H4L0,W2X6NP1JBOKWCO33,2014-05-31 06:00:00+00:00,['Brandon Rivera'],468.0,Breakfast,False
...,...,...,...,...,...,...,...,...,...
49840,H3JAY96W61R8R4TL,2016-05-29,6LGP15E0XZLBRGHB,2UTFJU7Q3VWNMJ00,2016-05-31 11:00:00+00:00,['Earnestine Mckeeman' 'Sid Brown'],248.0,Lunch,False
49865,68I4K85G0WR7047R,2014-11-26,4R0TOJ9ENQ65VPE9,3OE3X93CX3TNVHLA,2014-11-30 21:00:00+00:00,['Jeffrey Phillips'],491.0,Dinner,False
49896,G3FX5EAE2VCUFELA,2016-03-05,SZ1UUTPDNW3FCIFF,CZTLKWWDEHQ0GW0I,2016-02-29 07:00:00+00:00,['Olga Fortenberry'],288.0,Breakfast,False
49929,HEGJLUD58BTP2CC3,2016-02-04,C18IITWW7K615G21,DNAC0XNVYCD3J62R,2016-01-31 21:00:00+00:00,['Linda Torros'],331.0,Dinner,False

In [47]:
invoices['Date of Meal'].dt.minute

0        0
1        0
2        0
3        0
        ..
50013    0
50014    0
50015    0
50016    0
Name: Date of Meal, Length: 50017, dtype: int64

In [48]:
invoices['Date of Meal'].dt.hour

0         5
1        18
2        12
3        19
         ..
50013     8
50014    19
50015    20
50016    12
Name: Date of Meal, Length: 50017, dtype: int64

In [49]:
invoices['Type of Meal'].str.lower()

0        breakfast
1           dinner
2            lunch
3           dinner
           ...
50013    breakfast
50014       dinner
50015       dinner
50016        lunch
Name: Type of Meal, Length: 50017, dtype: object

In [50]:
invoices['Type of Meal'].str.upper()

0        BREAKFAST
1           DINNER
2            LUNCH
3           DINNER
           ...
50013    BREAKFAST
50014       DINNER
50015       DINNER
50016        LUNCH
Name: Type of Meal, Length: 50017, dtype: object

In [51]:
invoices['Type of Meal'].str.ljust(width=20)

0        Breakfast
1        Dinner
2        Lunch
3        Dinner
                 ...
50013    Breakfast
50014    Dinner
50015    Dinner
50016    Lunch
Name: Type of Meal, Length: 50017, dtype: object

In [52]:
invoices['Type of Meal'].str.center(width=20)

0             Breakfast
1               Dinner
2               Lunch
3               Dinner
                 ...
50013         Breakfast
50014           Dinner
50015           Dinner
50016           Lunch
Name: Type of Meal, Length: 50017, dtype: object

In [53]:
invoices['Type of Meal'].str.zfill(width=20)

0        00000000000Breakfast
1        00000000000000Dinner
2        000000000000000Lunch
3        00000000000000Dinner
                 ...
50013    00000000000Breakfast
50014    00000000000000Dinner
50015    00000000000000Dinner
50016    000000000000000Lunch
Name: Type of Meal, Length: 50017, dtype: object

In [54]:
invoices['Type of Meal'].str.repeat(3)

0        BreakfastBreakfastBreakfast
1                 DinnerDinnerDinner
2                    LunchLunchLunch
3                 DinnerDinnerDinner
                    ...
50013    BreakfastBreakfastBreakfast
50014             DinnerDinnerDinner
50015             DinnerDinnerDinner
50016                LunchLunchLunch
Name: Type of Meal, Length: 50017, dtype: object

In [55]:
invoices['Type of Meal'].str.swapcase()

0        bREAKFAST
1           dINNER
2            lUNCH
3           dINNER
           ...
50013    bREAKFAST
50014       dINNER
50015       dINNER
50016        lUNCH
Name: Type of Meal, Length: 50017, dtype: object

In [56]:
invoices[invoices['Type of Meal'].str.endswith('nch')]

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 12:00:00+00:00,['Karen Stansell'],314.0,Lunch,False
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 12:00:00+00:00,['Addie Patino' 'Susan Guerrero'],690.0,Lunch,False
8,CK331XXNIBQT81QL,2015-05-23,CTZSFFKQTY7SBZ4J,36MFTZOYMTAJP1RK,2015-05-18 11:00:00+00:00,['Cheryl Feaster' 'Amanda Knowles' 'Ginger Hoa...,697.0,Lunch,False
13,W1Y086SRAVUZU1AL,2017-09-17,8IUOYVS031QPROUG,36MFTZOYMTAJP1RK,2017-09-14 11:00:00+00:00,['Bret Adams'],469.0,Lunch,False
...,...,...,...,...,...,...,...,...,...
50003,VC858QHD5EW99MYD,2016-12-25,95XY29BUWLB0UEQR,FC1LJXHNH2883N3Y,2016-12-23 11:00:00+00:00,['Jon Ponce'],45.0,Lunch,False
50004,5DPMPEQ930LJ3HZ7,2017-01-11,T3DS9G6N2Y0AECOP,FC1LJXHNH2883N3Y,2017-01-13 12:00:00+00:00,['Jon Ponce'],280.0,Lunch,False
50006,82U9R1VU6L5A0GVL,2014-04-08,O6KTCUNU8SV5RWQ5,FC1LJXHNH2883N3Y,2014-04-08 12:00:00+00:00,['Jerry Nelson' 'Jon Ponce'],470.0,Lunch,False
50016,NKHFWT5I2J9LPAPG,2017-09-06,ORWFRT5TUSYGNYG7,E4K99D4JR9E40VE1,2017-09-09 12:00:00+00:00,['Chester Mortimer' 'Robin Ramos'],365.0,Lunch,False

In [57]:
invoices['Participants'].str.lower().str.title()

0                          ['David Bishop']
1                          ['David Bishop']
2                        ['Karen Stansell']
3                          ['Addie Patino']
                        ...
50013    ['Robin Ramos' 'Chester Mortimer']
50014                       ['Robin Ramos']
50015    ['Chester Mortimer' 'Robin Ramos']
50016    ['Chester Mortimer' 'Robin Ramos']
Name: Participants, Length: 50017, dtype: object

In [59]:
invoices[invoices['Participants'].str.contains('David')]

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 05:00:00+00:00,['David Bishop'],469.0,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 18:00:00+00:00,['David Bishop'],22.0,Dinner,False
5,AT0R4DFYYAFOC88Q,2014-07-21,W48JPR1UYWJ18NC6,LJKS5NK6788CYMUU,2014-07-17 18:00:00+00:00,['David Bishop' 'Susan Guerrero' 'Karen Stanse...,181.0,Dinner,False
6,2DDN2LHS7G85GKPQ,2014-04-29,1MKLAKBOE3SP7YUL,LJKS5NK6788CYMUU,2014-04-30 19:00:00+00:00,['Susan Guerrero' 'David Bishop'],14.0,Dinner,False
...,...,...,...,...,...,...,...,...,...
48791,26257WBC491B485G,2016-06-26,0CKXQG65KL4VB36V,DLFJ5YHTE0AC2LJW,2016-06-29 12:00:00+00:00,['David Paulson'],38.0,Lunch,False
49250,2W2D6LF7VOCRP3FG,2018-06-09,46OEUQ4TU1GJ1XVZ,C23HH5U2BDE1KCAQ,2018-06-10 20:00:00+00:00,['David Jennings'],424.0,Dinner,False
49252,AN515VI9698QLGD0,2014-02-26,H3Q6NTNJF8J9H3MH,C23HH5U2BDE1KCAQ,2014-02-27 07:00:00+00:00,['David Jennings' 'Steven Fletcher' 'Gregory G...,323.0,Breakfast,False
49254,0QO2OHN3M6L5JWR8,2016-05-18,FFBS79RPBULQ0VYS,C23HH5U2BDE1KCAQ,2016-05-17 20:00:00+00:00,['Megan Wilcox' 'David Jennings'],176.0,Dinner,False

In [60]:
invoices['Type of Meal'].cat.ordered

False

In [61]:
invoices['Type of Meal'].cat.categories

Index(['Breakfast', 'Dinner', 'Lunch'], dtype='object')

In [62]:
invoices['Type of Meal'].cat.codes

0        0
1        1
2        2
3        1
        ..
50013    0
50014    1
50015    1
50016    2
Length: 50017, dtype: int8

In [ ]:
invoices['Type of Meal'].cat