In [12]:
import pandas as pd
import numpy as np
import datetime
import pytz

In [13]:
file=r'D:\Programing\python_projects\data_analysis_basics\data_set\invoices.csv'
invoices=pd.read_csv(file)

In [14]:
invoices.head(5)

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469.0,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22.0,Dinner,False
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314.0,Lunch,False
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438.0,Dinner,False
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690.0,Lunch,False

In [15]:
invoices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50017 entries, 0 to 50016
Data columns (total 9 columns):
Order Id             50017 non-null object
Date                 50017 non-null object
Meal Id              50017 non-null object
Company Id           50017 non-null object
Date of Meal         50017 non-null object
Participants         50017 non-null object
Meal Price           50017 non-null float64
Type of Meal         50017 non-null object
Heroes Adjustment    50017 non-null bool
dtypes: bool(1), float64(1), object(7)
memory usage: 3.1+ MB

In [16]:
invoices['Type of Meal']=invoices['Type of Meal'].astype('category')

In [17]:
invoices['Date']=invoices['Date'].astype('datetime64[ns]')

In [18]:
invoices['Meal Price']=invoices['Meal Price'].astype('int')

In [19]:
invoices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50017 entries, 0 to 50016
Data columns (total 9 columns):
Order Id             50017 non-null object
Date                 50017 non-null datetime64[ns]
Meal Id              50017 non-null object
Company Id           50017 non-null object
Date of Meal         50017 non-null object
Participants         50017 non-null object
Meal Price           50017 non-null int32
Type of Meal         50017 non-null category
Heroes Adjustment    50017 non-null bool
dtypes: bool(1), category(1), datetime64[ns](1), int32(1), object(5)
memory usage: 2.6+ MB

In [20]:
# invoices.loc[12345, 'Meal Price']='hello'

In [21]:
invoices['Meal Price'].astype('int')

0        469
1         22
2        314
3        438
4        690
        ...
50012      9
50013     25
50014    160
50015    497
50016    365
Name: Meal Price, Length: 50017, dtype: int32

In [22]:
invoices['Meal Price'].apply(lambda x: type(x)).value_counts()

<class 'int'>    50017
Name: Meal Price, dtype: int64

In [23]:
pd.to_numeric(invoices['Meal Price'], errors='ignore')

0        469
1         22
2        314
3        438
4        690
        ...
50012      9
50013     25
50014    160
50015    497
50016    365
Name: Meal Price, Length: 50017, dtype: int32

In [24]:
invoices['Meal Price']=pd.to_numeric(invoices['Meal Price'], errors='coerce')

In [25]:
invoices.loc[12345]

Order Id                                              SJ3BBH2NXTGG787M
Date                                               2015-02-13 00:00:00
Meal Id                                               2NMCOP5D1L72U1DY
Company Id                                            FR2HKQ4OYXNW5NE6
Date of Meal                                 2015-02-16 07:00:00+01:00
Participants         ['Chris Crosson' 'Martin Smith' 'Derrick Fuller']
Meal Price                                                         296
Type of Meal                                                 Breakfast
Heroes Adjustment                                                False
Name: 12345, dtype: object

In [26]:
invoices['Meal Price']=invoices['Meal Price'].fillna(invoices['Meal Price'].median())

In [27]:
invoices['Meal Price'].median()

398.0

In [28]:
invoices.loc[12345]

Order Id                                              SJ3BBH2NXTGG787M
Date                                               2015-02-13 00:00:00
Meal Id                                               2NMCOP5D1L72U1DY
Company Id                                            FR2HKQ4OYXNW5NE6
Date of Meal                                 2015-02-16 07:00:00+01:00
Participants         ['Chris Crosson' 'Martin Smith' 'Derrick Fuller']
Meal Price                                                         296
Type of Meal                                                 Breakfast
Heroes Adjustment                                                False
Name: 12345, dtype: object

In [29]:
print(pd.to_datetime('2019-12-25'))

2019-12-25 00:00:00

In [30]:
print(pd.to_datetime('2019/9/18'))
print(pd.to_datetime('9/18/2019'))
print(pd.to_datetime('Sep, 18 2019'))
print(pd.to_datetime('September, 18 2019'))
print(pd.to_datetime('Sep - 18 2019'))
print(pd.to_datetime('2019, September -18'))
print(pd.to_datetime('20190918'))
print(pd.to_datetime('20191809', format='%Y%d%m'))

2019-09-18 00:00:00
2019-09-18 00:00:00
2019-09-18 00:00:00
2019-09-18 00:00:00
2019-09-18 00:00:00
2019-09-18 00:00:00
2019-09-18 00:00:00
2019-09-18 00:00:00

In [31]:
print(pd.to_datetime('yoyo 20191809', format='%Y%d%m', exact=False))

2019-09-18 00:00:00

In [32]:
invoices['Date of Meal']=pd.to_datetime(invoices['Date of Meal'], utc=True)

In [33]:
invoices.head(5)

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 05:00:00+00:00,['David Bishop'],469,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 18:00:00+00:00,['David Bishop'],22,Dinner,False
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 12:00:00+00:00,['Karen Stansell'],314,Lunch,False
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 19:00:00+00:00,['Addie Patino'],438,Dinner,False
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 12:00:00+00:00,['Addie Patino' 'Susan Guerrero'],690,Lunch,False

In [34]:
# 设定结果显示多少行
pd.set_option('display.max_rows', 8)

In [35]:
invoices['Date of Meal'].dt.date

0        2016-05-31
1        2018-10-01
2        2014-08-23
3        2014-04-07
            ...
50013    2018-03-18
50014    2017-09-22
50015    2018-02-01
50016    2017-09-09
Name: Date of Meal, Length: 50017, dtype: object

In [36]:
invoices['Date of Meal'].dt.month

0         5
1        10
2         8
3         4
         ..
50013     3
50014     9
50015     2
50016     9
Name: Date of Meal, Length: 50017, dtype: int64

In [37]:
invoices['Date of Meal'].dt.weekday_name

0         Tuesday
1          Monday
2        Saturday
3          Monday
           ...
50013      Sunday
50014      Friday
50015    Thursday
50016    Saturday
Name: Date of Meal, Length: 50017, dtype: object

In [38]:
invoices['Date of Meal'].dt.day

0        31
1         1
2        23
3         7
         ..
50013    18
50014    22
50015     1
50016     9
Name: Date of Meal, Length: 50017, dtype: int64

In [39]:
invoices['Date of Meal'].dt.quarter

0        2
1        4
2        3
3        2
        ..
50013    1
50014    3
50015    1
50016    3
Name: Date of Meal, Length: 50017, dtype: int64

In [40]:
invoices['Date of Meal'].dt.week

0        22
1        40
2        34
3        15
         ..
50013    11
50014    38
50015     5
50016    36
Name: Date of Meal, Length: 50017, dtype: int64

In [41]:
invoices[invoices['Date of Meal'].dt.is_month_end]

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 05:00:00+00:00,['David Bishop'],469,Breakfast,False
6,2DDN2LHS7G85GKPQ,2014-04-29,1MKLAKBOE3SP7YUL,LJKS5NK6788CYMUU,2014-04-30 19:00:00+00:00,['Susan Guerrero' 'David Bishop'],14,Dinner,False
127,IFWFCKR8TRAGCLSN,2015-09-03,KP72EIIXT3D2D3YX,TAW7IY2L2IKUCCGC,2015-08-31 18:00:00+00:00,['Tina Jones'],385,Dinner,False
199,R5RROQZEHSVU7JWT,2014-06-02,BAZRFTKXVH12H4L0,W2X6NP1JBOKWCO33,2014-05-31 06:00:00+00:00,['Brandon Rivera'],468,Breakfast,False
...,...,...,...,...,...,...,...,...,...
49840,H3JAY96W61R8R4TL,2016-05-29,6LGP15E0XZLBRGHB,2UTFJU7Q3VWNMJ00,2016-05-31 11:00:00+00:00,['Earnestine Mckeeman' 'Sid Brown'],248,Lunch,False
49865,68I4K85G0WR7047R,2014-11-26,4R0TOJ9ENQ65VPE9,3OE3X93CX3TNVHLA,2014-11-30 21:00:00+00:00,['Jeffrey Phillips'],491,Dinner,False
49896,G3FX5EAE2VCUFELA,2016-03-05,SZ1UUTPDNW3FCIFF,CZTLKWWDEHQ0GW0I,2016-02-29 07:00:00+00:00,['Olga Fortenberry'],288,Breakfast,False
49929,HEGJLUD58BTP2CC3,2016-02-04,C18IITWW7K615G21,DNAC0XNVYCD3J62R,2016-01-31 21:00:00+00:00,['Linda Torros'],331,Dinner,False

In [42]:
invoices['Date of Meal'].dt.minute

0        0
1        0
2        0
3        0
        ..
50013    0
50014    0
50015    0
50016    0
Name: Date of Meal, Length: 50017, dtype: int64

In [43]:
invoices['Date of Meal'].dt.hour

0         5
1        18
2        12
3        19
         ..
50013     8
50014    19
50015    20
50016    12
Name: Date of Meal, Length: 50017, dtype: int64

In [44]:
invoices['Type of Meal'].str.lower()

0        breakfast
1           dinner
2            lunch
3           dinner
           ...
50013    breakfast
50014       dinner
50015       dinner
50016        lunch
Name: Type of Meal, Length: 50017, dtype: object

In [45]:
invoices['Type of Meal'].str.upper()

0        BREAKFAST
1           DINNER
2            LUNCH
3           DINNER
           ...
50013    BREAKFAST
50014       DINNER
50015       DINNER
50016        LUNCH
Name: Type of Meal, Length: 50017, dtype: object

In [46]:
invoices['Type of Meal'].str.ljust(width=20)

0        Breakfast
1        Dinner
2        Lunch
3        Dinner
                 ...
50013    Breakfast
50014    Dinner
50015    Dinner
50016    Lunch
Name: Type of Meal, Length: 50017, dtype: object

In [47]:
invoices['Type of Meal'].str.center(width=20)

0             Breakfast
1               Dinner
2               Lunch
3               Dinner
                 ...
50013         Breakfast
50014           Dinner
50015           Dinner
50016           Lunch
Name: Type of Meal, Length: 50017, dtype: object

In [48]:
invoices['Type of Meal'].str.zfill(width=20)

0        00000000000Breakfast
1        00000000000000Dinner
2        000000000000000Lunch
3        00000000000000Dinner
                 ...
50013    00000000000Breakfast
50014    00000000000000Dinner
50015    00000000000000Dinner
50016    000000000000000Lunch
Name: Type of Meal, Length: 50017, dtype: object

In [49]:
invoices['Type of Meal'].str.repeat(3)

0        BreakfastBreakfastBreakfast
1                 DinnerDinnerDinner
2                    LunchLunchLunch
3                 DinnerDinnerDinner
                    ...
50013    BreakfastBreakfastBreakfast
50014             DinnerDinnerDinner
50015             DinnerDinnerDinner
50016                LunchLunchLunch
Name: Type of Meal, Length: 50017, dtype: object

In [50]:
invoices['Type of Meal'].str.swapcase()

0        bREAKFAST
1           dINNER
2            lUNCH
3           dINNER
           ...
50013    bREAKFAST
50014       dINNER
50015       dINNER
50016        lUNCH
Name: Type of Meal, Length: 50017, dtype: object

In [51]:
invoices[invoices['Type of Meal'].str.endswith('nch')]

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 12:00:00+00:00,['Karen Stansell'],314,Lunch,False
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 12:00:00+00:00,['Addie Patino' 'Susan Guerrero'],690,Lunch,False
8,CK331XXNIBQT81QL,2015-05-23,CTZSFFKQTY7SBZ4J,36MFTZOYMTAJP1RK,2015-05-18 11:00:00+00:00,['Cheryl Feaster' 'Amanda Knowles' 'Ginger Hoa...,697,Lunch,False
13,W1Y086SRAVUZU1AL,2017-09-17,8IUOYVS031QPROUG,36MFTZOYMTAJP1RK,2017-09-14 11:00:00+00:00,['Bret Adams'],469,Lunch,False
...,...,...,...,...,...,...,...,...,...
50003,VC858QHD5EW99MYD,2016-12-25,95XY29BUWLB0UEQR,FC1LJXHNH2883N3Y,2016-12-23 11:00:00+00:00,['Jon Ponce'],45,Lunch,False
50004,5DPMPEQ930LJ3HZ7,2017-01-11,T3DS9G6N2Y0AECOP,FC1LJXHNH2883N3Y,2017-01-13 12:00:00+00:00,['Jon Ponce'],280,Lunch,False
50006,82U9R1VU6L5A0GVL,2014-04-08,O6KTCUNU8SV5RWQ5,FC1LJXHNH2883N3Y,2014-04-08 12:00:00+00:00,['Jerry Nelson' 'Jon Ponce'],470,Lunch,False
50016,NKHFWT5I2J9LPAPG,2017-09-06,ORWFRT5TUSYGNYG7,E4K99D4JR9E40VE1,2017-09-09 12:00:00+00:00,['Chester Mortimer' 'Robin Ramos'],365,Lunch,False

In [52]:
invoices['Participants'].str.lower().str.title()

0                          ['David Bishop']
1                          ['David Bishop']
2                        ['Karen Stansell']
3                          ['Addie Patino']
                        ...
50013    ['Robin Ramos' 'Chester Mortimer']
50014                       ['Robin Ramos']
50015    ['Chester Mortimer' 'Robin Ramos']
50016    ['Chester Mortimer' 'Robin Ramos']
Name: Participants, Length: 50017, dtype: object

In [53]:
invoices[invoices['Participants'].str.contains('David')]

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 05:00:00+00:00,['David Bishop'],469,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 18:00:00+00:00,['David Bishop'],22,Dinner,False
5,AT0R4DFYYAFOC88Q,2014-07-21,W48JPR1UYWJ18NC6,LJKS5NK6788CYMUU,2014-07-17 18:00:00+00:00,['David Bishop' 'Susan Guerrero' 'Karen Stanse...,181,Dinner,False
6,2DDN2LHS7G85GKPQ,2014-04-29,1MKLAKBOE3SP7YUL,LJKS5NK6788CYMUU,2014-04-30 19:00:00+00:00,['Susan Guerrero' 'David Bishop'],14,Dinner,False
...,...,...,...,...,...,...,...,...,...
48791,26257WBC491B485G,2016-06-26,0CKXQG65KL4VB36V,DLFJ5YHTE0AC2LJW,2016-06-29 12:00:00+00:00,['David Paulson'],38,Lunch,False
49250,2W2D6LF7VOCRP3FG,2018-06-09,46OEUQ4TU1GJ1XVZ,C23HH5U2BDE1KCAQ,2018-06-10 20:00:00+00:00,['David Jennings'],424,Dinner,False
49252,AN515VI9698QLGD0,2014-02-26,H3Q6NTNJF8J9H3MH,C23HH5U2BDE1KCAQ,2014-02-27 07:00:00+00:00,['David Jennings' 'Steven Fletcher' 'Gregory G...,323,Breakfast,False
49254,0QO2OHN3M6L5JWR8,2016-05-18,FFBS79RPBULQ0VYS,C23HH5U2BDE1KCAQ,2016-05-17 20:00:00+00:00,['Megan Wilcox' 'David Jennings'],176,Dinner,False

In [54]:
invoices['Type of Meal'].cat.ordered

False

In [55]:
invoices['Type of Meal'].cat.categories

Index(['Breakfast', 'Dinner', 'Lunch'], dtype='object')

In [56]:
invoices['Type of Meal'].cat.codes

0        0
1        1
2        2
3        1
        ..
50013    0
50014    1
50015    1
50016    2
Length: 50017, dtype: int8

In [57]:
invoices['Date of Meal'].dt.year.value_counts().sort_index()

2013       34
2014    10051
2015    10036
2016     9862
2017     9921
2018    10095
2019       18
Name: Date of Meal, dtype: int64

In [58]:
y_2013=invoices[invoices['Date of Meal'].dt.year==2013].copy()
y_2014=invoices[invoices['Date of Meal'].dt.year==2014].copy()

In [59]:
pd.concat([y_2013, y_2014], names=['year', 'original_index'])

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
1449,HH1CUKNKIIK87D4L,2014-01-03,M4QG9N01E25U3A53,N4BN0GG5XKZV113C,2013-12-31 21:00:00+00:00,['Jason Cuevas'],546,Dinner,False
4256,KFXTYDP0YG9C6AZF,2014-01-03,RUMIZCB9KM3N57BN,9FOCJR50GUHXT2S0,2013-12-31 12:00:00+00:00,['Robert Hairfield' 'Ray Dowty' 'Adam Bowers' ...,586,Lunch,False
4747,D5NR6EP8NQZ0TGW6,2014-01-05,5GDXSLG0F4WA3JEZ,RJ1NLTCTP1COK3YS,2013-12-31 21:00:00+00:00,['Leta Stevens'],549,Dinner,False
5097,2T71YISMHMPBKE3Z,2014-01-03,0C7DIKEPG5KXNRFR,R835HX2AVB1KJJL0,2013-12-30 19:00:00+00:00,['Hunter Marquez'],338,Dinner,False
...,...,...,...,...,...,...,...,...,...
49995,604MDASEGE0ZGF1Q,2014-09-19,Z6THNAPHU8C5YOXS,5K17HYJQ6JG6UFU0,2014-09-22 18:00:00+00:00,['Billy Britton' 'Arleen Williams' 'Michelle L...,288,Dinner,False
49996,F381FAZM804NBR5N,2014-05-28,BM67YPFBIK2AGA9J,5K17HYJQ6JG6UFU0,2014-05-30 19:00:00+00:00,['Michelle Lachiatto' 'Billy Britton' 'Chris L...,143,Dinner,False
50006,82U9R1VU6L5A0GVL,2014-04-08,O6KTCUNU8SV5RWQ5,FC1LJXHNH2883N3Y,2014-04-08 12:00:00+00:00,['Jerry Nelson' 'Jon Ponce'],470,Lunch,False
50007,DSQ3L26W4J1HH2DL,2014-05-11,24E54CJ06WBF66KK,FC1LJXHNH2883N3Y,2014-05-08 18:00:00+00:00,['Jerry Nelson' 'Alice Allen'],410,Dinner,False

In [60]:
range_a=pd.date_range(datetime.datetime(2019,1,2), datetime.datetime(2019,1,8))
range_a

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-05',
               '2019-01-06', '2019-01-07', '2019-01-08'],
              dtype='datetime64[ns]', freq='D')

In [61]:
df_a=pd.DataFrame(index=range_a, data=np.random.randint(2, 10, size=len(range_a)), columns=['observations_a'])
df_a

            observations_a
2019-01-02               8
2019-01-03               2
2019-01-04               2
2019-01-05               6
2019-01-06               5
2019-01-07               4
2019-01-08               7

In [62]:
range_b=pd.date_range(datetime.datetime(2019,1,5), datetime.datetime(2019,1,12))
df_b=pd.DataFrame(index=range_b, data=np.random.randint(2, 10, size=len(range_b)), columns=['observations_b'])
df_b

            observations_b
2019-01-05               4
2019-01-06               4
2019-01-07               7
2019-01-08               7
2019-01-09               4
2019-01-10               7
2019-01-11               3
2019-01-12               2

In [63]:
pd.concat([df_a, df_b], axis=1)

            observations_a  observations_b
2019-01-02             8.0             NaN
2019-01-03             2.0             NaN
2019-01-04             2.0             NaN
2019-01-05             6.0             4.0
...                    ...             ...
2019-01-09             NaN             4.0
2019-01-10             NaN             7.0
2019-01-11             NaN             3.0
2019-01-12             NaN             2.0

[11 rows x 2 columns]

In [66]:
pd.set_option('display.max_rows', 20)
pd.concat([df_a, df_b], axis=0)

D:\Programing\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

            observations_a  observations_b
2019-01-02             8.0             NaN
2019-01-03             2.0             NaN
2019-01-04             2.0             NaN
2019-01-05             6.0             NaN
2019-01-06             5.0             NaN
2019-01-07             4.0             NaN
2019-01-08             7.0             NaN
2019-01-05             NaN             4.0
2019-01-06             NaN             4.0
2019-01-07             NaN             7.0
2019-01-08             NaN             7.0
2019-01-09             NaN             4.0
2019-01-10             NaN             7.0
2019-01-11             NaN             3.0
2019-01-12             NaN             2.0

In [75]:
file1=r'D:\Programing\python_projects\data_analysis_basics\data_set\order_leads.csv'
file2=r'D:\Programing\python_projects\data_analysis_basics\data_set\sales_team.csv'
order_leads=pd.read_csv(file1, parse_dates=[3])
sales_team=pd.read_csv(file2)

In [76]:
order_leads.head(3)

,Order Id,Company Id,Company Name,Date,Order Value,Converted
0,80EYLOKP9E762WKG,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2017-02-18,4875,1
1,TLEXR1HZWTUTBHPB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2015-07-30,8425,0
2,839FKFW2LLX4LMBB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-05-27,4837,0

In [77]:
invoices.head(3)

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 05:00:00+00:00,['David Bishop'],469,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 18:00:00+00:00,['David Bishop'],22,Dinner,False
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 12:00:00+00:00,['Karen Stansell'],314,Lunch,False

In [78]:
sales_team.head(3)

,Sales Rep,Sales Rep Id,Company Name,Company Id
0,Jessie Mcallister,97UNNAT790E0WM4N,Chimera-Chasing Casbah,LJKS5NK6788CYMUU
1,Jessie Mcallister,97UNNAT790E0WM4N,Tangential Sheds,36MFTZOYMTAJP1RK
2,Jessie Mcallister,97UNNAT790E0WM4N,Two-Mile Grab,H3JRC7XX7WJAD4ZO

In [79]:
pd.merge(order_leads, invoices, how='inner')

,Order Id,Company Id,Company Name,Date,Order Value,Converted,Meal Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-05-27,4837,0,INBUX904GIHI8YBD,2016-05-31 05:00:00+00:00,['David Bishop'],469,Breakfast,False
1,97OX39BGVMHODLJM,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2018-09-27,343,0,J0MMOOPP709DIDIE,2018-10-01 18:00:00+00:00,['David Bishop'],22,Dinner,False
2,041ORQM5OIHTIU6L,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2014-08-24,4185,0,E4UJLQNCI16UX5CS,2014-08-23 12:00:00+00:00,['Karen Stansell'],314,Lunch,False
3,YT796QI18WNGZ7ZJ,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2014-04-12,5839,0,C9SDFHF7553BE247,2014-04-07 19:00:00+00:00,['Addie Patino'],438,Dinner,False
4,6YLROQT27B6HRF4E,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2015-07-28,8841,0,48EQXS6IHYNZDDZ5,2015-07-27 12:00:00+00:00,['Addie Patino' 'Susan Guerrero'],690,Lunch,False
...,...,...,...,...,...,...,...,...,...,...,...,...
50012,4OMS8ZSA0UX8LHWI,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-20,110,0,1TD5MROATV1NHZ4Y,2017-09-21 06:00:00+00:00,['Regina Shirley'],9,Breakfast,False
50013,RR0VKJN8V0KHNKGG,E4K99D4JR9E40VE1,Fierce Productivity,2018-03-19,356,0,22EX9VZSJKHP4AIP,2018-03-18 08:00:00+00:00,['Robin Ramos' 'Chester Mortimer'],25,Breakfast,False
50014,STJ6QJC30WPRM93H,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-21,2228,1,LMX18PNGWCIMG1QW,2017-09-22 19:00:00+00:00,['Robin Ramos'],160,Dinner,False
50015,QHEUIYNC0XQX7GDR,E4K99D4JR9E40VE1,Fierce Productivity,2018-01-28,8869,0,4U0VH2TGQL30X23X,2018-02-01 20:00:00+00:00,['Chester Mortimer' 'Robin Ramos'],497,Dinner,False
50016,NKHFWT5I2J9LPAPG,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-06,5138,0,ORWFRT5TUSYGNYG7,2017-09-09 12:00:00+00:00,['Chester Mortimer' 'Robin Ramos'],365,Lunch,False

In [80]:
pd.merge(order_leads, invoices, how='left')

,Order Id,Company Id,Company Name,Date,Order Value,Converted,Meal Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,80EYLOKP9E762WKG,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2017-02-18,4875,1,NaN,NaT,NaN,NaN,NaN,NaN
1,TLEXR1HZWTUTBHPB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2015-07-30,8425,0,NaN,NaT,NaN,NaN,NaN,NaN
2,839FKFW2LLX4LMBB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-05-27,4837,0,INBUX904GIHI8YBD,2016-05-31 05:00:00+00:00,['David Bishop'],469.0,Breakfast,False
3,97OX39BGVMHODLJM,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2018-09-27,343,0,J0MMOOPP709DIDIE,2018-10-01 18:00:00+00:00,['David Bishop'],22.0,Dinner,False
4,5T4LGH4XGBWOD49Z,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-01-14,983,0,NaN,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4MFHIAQKH0HCACJM,E4K99D4JR9E40VE1,Fierce Productivity,2015-07-25,4851,0,NaN,NaT,NaN,NaN,NaN,NaN
99996,K1UP23P8SIY1YION,E4K99D4JR9E40VE1,Fierce Productivity,2015-08-24,7868,0,NaN,NaT,NaN,NaN,NaN,NaN
99997,NKHFWT5I2J9LPAPG,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-06,5138,0,ORWFRT5TUSYGNYG7,2017-09-09 12:00:00+00:00,['Chester Mortimer' 'Robin Ramos'],365.0,Lunch,False
99998,OF79M3H9C44UM6PO,E4K99D4JR9E40VE1,Fierce Productivity,2015-10-29,2036,0,NaN,NaT,NaN,NaN,NaN,NaN
99999,EHN2QR78K2RX0FQ9,E4K99D4JR9E40VE1,Fierce Productivity,2015-03-07,7183,0,NaN,NaT,NaN,NaN,NaN,NaN

In [81]:
pd.merge(order_leads, invoices, how='right')

,Order Id,Company Id,Company Name,Date,Order Value,Converted,Meal Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-05-27,4837,0,INBUX904GIHI8YBD,2016-05-31 05:00:00+00:00,['David Bishop'],469,Breakfast,False
1,97OX39BGVMHODLJM,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2018-09-27,343,0,J0MMOOPP709DIDIE,2018-10-01 18:00:00+00:00,['David Bishop'],22,Dinner,False
2,041ORQM5OIHTIU6L,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2014-08-24,4185,0,E4UJLQNCI16UX5CS,2014-08-23 12:00:00+00:00,['Karen Stansell'],314,Lunch,False
3,YT796QI18WNGZ7ZJ,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2014-04-12,5839,0,C9SDFHF7553BE247,2014-04-07 19:00:00+00:00,['Addie Patino'],438,Dinner,False
4,6YLROQT27B6HRF4E,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2015-07-28,8841,0,48EQXS6IHYNZDDZ5,2015-07-27 12:00:00+00:00,['Addie Patino' 'Susan Guerrero'],690,Lunch,False
...,...,...,...,...,...,...,...,...,...,...,...,...
50012,4OMS8ZSA0UX8LHWI,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-20,110,0,1TD5MROATV1NHZ4Y,2017-09-21 06:00:00+00:00,['Regina Shirley'],9,Breakfast,False
50013,RR0VKJN8V0KHNKGG,E4K99D4JR9E40VE1,Fierce Productivity,2018-03-19,356,0,22EX9VZSJKHP4AIP,2018-03-18 08:00:00+00:00,['Robin Ramos' 'Chester Mortimer'],25,Breakfast,False
50014,STJ6QJC30WPRM93H,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-21,2228,1,LMX18PNGWCIMG1QW,2017-09-22 19:00:00+00:00,['Robin Ramos'],160,Dinner,False
50015,QHEUIYNC0XQX7GDR,E4K99D4JR9E40VE1,Fierce Productivity,2018-01-28,8869,0,4U0VH2TGQL30X23X,2018-02-01 20:00:00+00:00,['Chester Mortimer' 'Robin Ramos'],497,Dinner,False
50016,NKHFWT5I2J9LPAPG,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-06,5138,0,ORWFRT5TUSYGNYG7,2017-09-09 12:00:00+00:00,['Chester Mortimer' 'Robin Ramos'],365,Lunch,False

In [82]:
pd.merge(order_leads, invoices, how='outer')

,Order Id,Company Id,Company Name,Date,Order Value,Converted,Meal Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,80EYLOKP9E762WKG,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2017-02-18,4875,1,NaN,NaT,NaN,NaN,NaN,NaN
1,TLEXR1HZWTUTBHPB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2015-07-30,8425,0,NaN,NaT,NaN,NaN,NaN,NaN
2,839FKFW2LLX4LMBB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-05-27,4837,0,INBUX904GIHI8YBD,2016-05-31 05:00:00+00:00,['David Bishop'],469.0,Breakfast,False
3,97OX39BGVMHODLJM,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2018-09-27,343,0,J0MMOOPP709DIDIE,2018-10-01 18:00:00+00:00,['David Bishop'],22.0,Dinner,False
4,5T4LGH4XGBWOD49Z,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-01-14,983,0,NaN,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4MFHIAQKH0HCACJM,E4K99D4JR9E40VE1,Fierce Productivity,2015-07-25,4851,0,NaN,NaT,NaN,NaN,NaN,NaN
99996,K1UP23P8SIY1YION,E4K99D4JR9E40VE1,Fierce Productivity,2015-08-24,7868,0,NaN,NaT,NaN,NaN,NaN,NaN
99997,NKHFWT5I2J9LPAPG,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-06,5138,0,ORWFRT5TUSYGNYG7,2017-09-09 12:00:00+00:00,['Chester Mortimer' 'Robin Ramos'],365.0,Lunch,False
99998,OF79M3H9C44UM6PO,E4K99D4JR9E40VE1,Fierce Productivity,2015-10-29,2036,0,NaN,NaT,NaN,NaN,NaN,NaN
99999,EHN2QR78K2RX0FQ9,E4K99D4JR9E40VE1,Fierce Productivity,2015-03-07,7183,0,NaN,NaT,NaN,NaN,NaN,NaN

In [83]:
pd.merge(order_leads, invoices, on='Order Id', suffixes=('_base', '_join'))

,Order Id,Company Id_base,Company Name,Date_base,Order Value,Converted,Date_join,Meal Id,Company Id_join,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-05-27,4837,0,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 05:00:00+00:00,['David Bishop'],469,Breakfast,False
1,97OX39BGVMHODLJM,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2018-09-27,343,0,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 18:00:00+00:00,['David Bishop'],22,Dinner,False
2,041ORQM5OIHTIU6L,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2014-08-24,4185,0,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 12:00:00+00:00,['Karen Stansell'],314,Lunch,False
3,YT796QI18WNGZ7ZJ,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2014-04-12,5839,0,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 19:00:00+00:00,['Addie Patino'],438,Dinner,False
4,6YLROQT27B6HRF4E,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2015-07-28,8841,0,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 12:00:00+00:00,['Addie Patino' 'Susan Guerrero'],690,Lunch,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50012,4OMS8ZSA0UX8LHWI,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-20,110,0,2017-09-20,1TD5MROATV1NHZ4Y,E4K99D4JR9E40VE1,2017-09-21 06:00:00+00:00,['Regina Shirley'],9,Breakfast,False
50013,RR0VKJN8V0KHNKGG,E4K99D4JR9E40VE1,Fierce Productivity,2018-03-19,356,0,2018-03-19,22EX9VZSJKHP4AIP,E4K99D4JR9E40VE1,2018-03-18 08:00:00+00:00,['Robin Ramos' 'Chester Mortimer'],25,Breakfast,False
50014,STJ6QJC30WPRM93H,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-21,2228,1,2017-09-21,LMX18PNGWCIMG1QW,E4K99D4JR9E40VE1,2017-09-22 19:00:00+00:00,['Robin Ramos'],160,Dinner,False
50015,QHEUIYNC0XQX7GDR,E4K99D4JR9E40VE1,Fierce Productivity,2018-01-28,8869,0,2018-01-28,4U0VH2TGQL30X23X,E4K99D4JR9E40VE1,2018-02-01 20:00:00+00:00,['Chester Mortimer' 'Robin Ramos'],497,Dinner,False
50016,NKHFWT5I2J9LPAPG,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-06,5138,0,2017-09-06,ORWFRT5TUSYGNYG7,E4K99D4JR9E40VE1,2017-09-09 12:00:00+00:00,['Chester Mortimer' 'Robin Ramos'],365,Lunch,False

In [84]:
pd.merge(order_leads, invoices.rename(columns={'Order Id':'New Id'}), left_on='Order Id', right_on='New Id')

,Order Id,Company Id_x,Company Name,Date_x,Order Value,Converted,New Id,Date_y,Meal Id,Company Id_y,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-05-27,4837,0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 05:00:00+00:00,['David Bishop'],469,Breakfast,False
1,97OX39BGVMHODLJM,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2018-09-27,343,0,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 18:00:00+00:00,['David Bishop'],22,Dinner,False
2,041ORQM5OIHTIU6L,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2014-08-24,4185,0,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 12:00:00+00:00,['Karen Stansell'],314,Lunch,False
3,YT796QI18WNGZ7ZJ,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2014-04-12,5839,0,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 19:00:00+00:00,['Addie Patino'],438,Dinner,False
4,6YLROQT27B6HRF4E,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2015-07-28,8841,0,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 12:00:00+00:00,['Addie Patino' 'Susan Guerrero'],690,Lunch,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50012,4OMS8ZSA0UX8LHWI,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-20,110,0,4OMS8ZSA0UX8LHWI,2017-09-20,1TD5MROATV1NHZ4Y,E4K99D4JR9E40VE1,2017-09-21 06:00:00+00:00,['Regina Shirley'],9,Breakfast,False
50013,RR0VKJN8V0KHNKGG,E4K99D4JR9E40VE1,Fierce Productivity,2018-03-19,356,0,RR0VKJN8V0KHNKGG,2018-03-19,22EX9VZSJKHP4AIP,E4K99D4JR9E40VE1,2018-03-18 08:00:00+00:00,['Robin Ramos' 'Chester Mortimer'],25,Breakfast,False
50014,STJ6QJC30WPRM93H,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-21,2228,1,STJ6QJC30WPRM93H,2017-09-21,LMX18PNGWCIMG1QW,E4K99D4JR9E40VE1,2017-09-22 19:00:00+00:00,['Robin Ramos'],160,Dinner,False
50015,QHEUIYNC0XQX7GDR,E4K99D4JR9E40VE1,Fierce Productivity,2018-01-28,8869,0,QHEUIYNC0XQX7GDR,2018-01-28,4U0VH2TGQL30X23X,E4K99D4JR9E40VE1,2018-02-01 20:00:00+00:00,['Chester Mortimer' 'Robin Ramos'],497,Dinner,False
50016,NKHFWT5I2J9LPAPG,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-06,5138,0,NKHFWT5I2J9LPAPG,2017-09-06,ORWFRT5TUSYGNYG7,E4K99D4JR9E40VE1,2017-09-09 12:00:00+00:00,['Chester Mortimer' 'Robin Ramos'],365,Lunch,False

In [86]:
lookup=sales_team.set_index('Company Name')['Sales Rep']
lookup

Company Name
Chimera-Chasing Casbah            Jessie Mcallister
Tangential Sheds                  Jessie Mcallister
Two-Mile Grab                     Jessie Mcallister
Three-Men-And-A-Helper Congo'S    Jessie Mcallister
Biophysical Battleground          Jessie Mcallister
                                        ...
Jammed-Together Stable                Joel Woodbury
Laureate Barbital                     Joel Woodbury
Spotty Adoniram                     Hazel Dickerson
Physicochemical Impatience          Hazel Dickerson
Fierce Productivity                 Hazel Dickerson
Name: Sales Rep, Length: 4725, dtype: object

In [87]:
order_leads['Sales Rep']=order_leads['Company Name'].map(lookup)
order_leads

,Order Id,Company Id,Company Name,Date,Order Value,Converted,Sales Rep
0,80EYLOKP9E762WKG,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2017-02-18,4875,1,Jessie Mcallister
1,TLEXR1HZWTUTBHPB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2015-07-30,8425,0,Jessie Mcallister
2,839FKFW2LLX4LMBB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-05-27,4837,0,Jessie Mcallister
3,97OX39BGVMHODLJM,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2018-09-27,343,0,Jessie Mcallister
4,5T4LGH4XGBWOD49Z,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-01-14,983,0,Jessie Mcallister
...,...,...,...,...,...,...,...
99995,4MFHIAQKH0HCACJM,E4K99D4JR9E40VE1,Fierce Productivity,2015-07-25,4851,0,Hazel Dickerson
99996,K1UP23P8SIY1YION,E4K99D4JR9E40VE1,Fierce Productivity,2015-08-24,7868,0,Hazel Dickerson
99997,NKHFWT5I2J9LPAPG,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-06,5138,0,Hazel Dickerson
99998,OF79M3H9C44UM6PO,E4K99D4JR9E40VE1,Fierce Productivity,2015-10-29,2036,0,Hazel Dickerson
99999,EHN2QR78K2RX0FQ9,E4K99D4JR9E40VE1,Fierce Productivity,2015-03-07,7183,0,Hazel Dickerson