In [2]:
import pandas as pd
import numpy as np
import datetime
import pytz

In [3]:
file=r'D:\Programing\python_projects\data_analysis_basics\data_set\invoices.csv'
invoices=pd.read_csv(file)

In [4]:
invoices.head(5)

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469.0,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22.0,Dinner,False
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314.0,Lunch,False
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438.0,Dinner,False
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690.0,Lunch,False

In [5]:
invoices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50017 entries, 0 to 50016
Data columns (total 9 columns):
Order Id             50017 non-null object
Date                 50017 non-null object
Meal Id              50017 non-null object
Company Id           50017 non-null object
Date of Meal         50017 non-null object
Participants         50017 non-null object
Meal Price           50017 non-null float64
Type of Meal         50017 non-null object
Heroes Adjustment    50017 non-null bool
dtypes: bool(1), float64(1), object(7)
memory usage: 3.1+ MB

In [6]:
invoices['Type of Meal']=invoices['Type of Meal'].astype('category')

In [7]:
invoices['Date']=invoices['Date'].astype('datetime64[ns]')

In [8]:
invoices['Meal Price']=invoices['Meal Price'].astype('int')

In [9]:
invoices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50017 entries, 0 to 50016
Data columns (total 9 columns):
Order Id             50017 non-null object
Date                 50017 non-null datetime64[ns]
Meal Id              50017 non-null object
Company Id           50017 non-null object
Date of Meal         50017 non-null object
Participants         50017 non-null object
Meal Price           50017 non-null int32
Type of Meal         50017 non-null category
Heroes Adjustment    50017 non-null bool
dtypes: bool(1), category(1), datetime64[ns](1), int32(1), object(5)
memory usage: 2.6+ MB

In [10]:
invoices.loc[12345, 'Meal Price']='hello'

In [12]:
invoices['Meal Price'].astype('int')

ValueError: invalid literal for int() with base 10: 'hello'

In [13]:
invoices['Meal Price'].apply(lambda x: type(x)).value_counts()

<class 'int'>    50016
<class 'str'>        1
Name: Meal Price, dtype: int64

In [15]:
pd.to_numeric(invoices['Meal Price'], errors='ignore')

0        469
1         22
2        314
3        438
4        690
        ...
50012      9
50013     25
50014    160
50015    497
50016    365
Name: Meal Price, Length: 50017, dtype: object

In [16]:
invoices['Meal Price']=pd.to_numeric(invoices['Meal Price'], errors='coerce')

In [17]:
invoices.loc[12345]

Order Id                                              SJ3BBH2NXTGG787M
Date                                               2015-02-13 00:00:00
Meal Id                                               2NMCOP5D1L72U1DY
Company Id                                            FR2HKQ4OYXNW5NE6
Date of Meal                                 2015-02-16 07:00:00+01:00
Participants         ['Chris Crosson' 'Martin Smith' 'Derrick Fuller']
Meal Price                                                         NaN
Type of Meal                                                 Breakfast
Heroes Adjustment                                                False
Name: 12345, dtype: object

In [21]:
invoices['Meal Price']=invoices['Meal Price'].fillna(invoices['Meal Price'].median())

In [20]:
invoices['Meal Price'].median()

398.0

In [22]:
invoices.loc[12345]

Order Id                                              SJ3BBH2NXTGG787M
Date                                               2015-02-13 00:00:00
Meal Id                                               2NMCOP5D1L72U1DY
Company Id                                            FR2HKQ4OYXNW5NE6
Date of Meal                                 2015-02-16 07:00:00+01:00
Participants         ['Chris Crosson' 'Martin Smith' 'Derrick Fuller']
Meal Price                                                         398
Type of Meal                                                 Breakfast
Heroes Adjustment                                                False
Name: 12345, dtype: object

In [23]:
print(pd.to_datetime('2019-12-25'))

2019-12-25 00:00:00